<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>content1</title>
</head>
<body>
    <h1>This Is The HomePage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ab molestiae repellendus facere temporibus non ullam nihil nemo inventore amet placeat obcaecati odio ut.</p>
    <button id="butt">Check Latest News</button>
</body>
</html>